{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 8
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ],
  "comments": false
}