# IDE
.idea/
.vscode/

# nodejs
node_modules/

# logs
logs/
debug/
npm-debug.log*
yarn-error.log
*.log*

# test
coverage/
test/tmp/

# tar
*.tgz

# others
/blinksocks*.js
/blinksocks*.json
*.map
/*.pem
/acl.txt

# benchmark
benchmark/jsons/

# pkg
pkg/blinksocks-*.gz
pkg/sha256sum.txt
