# IDE
.idea/
.vscode/

# nodejs
node_modules/

# logs
logs/
debug/
npm-debug.log*
yarn-error.log

# test
coverage/

# tar
*.tgz

# others
blinksocks*.json
blinksocks.client.js
blinksocks.server.js
blinksocks*.log
/*.log
/build/blinksocks.js.map
